/* global */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* navbar */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    overflow: hidden;
    top: 0;
    background-color: #eee;
}

nav ul li {
    border: 2px solid #888;
    border-bottom: 0;
    float: none;
}

nav ul li:last-child {
    border-bottom: 2px solid #888;
}

nav ul li a {
    display: block;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav ul li a:hover {
    background-color: #fc4;
}

nav ul li .active {
    background-color: #c60;
    color: #fff;
}

nav ul li a:hover.active {
    background-color: #e80;
}
@media only screen and (min-width: 600px) {
    nav ul li {
        display: inline;
        float: left;
        /* re-specify border to override */
        border: 2px solid #888;
        border-right: 0;
    }

    nav ul li:last-child {
        border-right: 2px solid #888;
    }

    nav ul li a {
        width: 13.5vw
    }
}

/* content */

.content {
    margin: 1rem;
}

.hide {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* slideshow */

.slideshow {
    position: relative;
    width: 100%;
}

.slide {
    display: none;
    margin: 0 auto;
}

.slide img {
    margin: 0 auto;
}

.prev, .next {
    position: absolute;
    top: 45%;
    width: auto;
    padding: 1rem;
    margin-top: -3rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 24px;
    border: 0;
    border-radius: 0 8px 8px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 8px 0 0 8px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 8px 0;
    font-size: 0.75em;
    padding: 0.5rem 0.75rem;
    position: absolute;
    top: 0;
}

.caption-container {
    background-color: #222;
    padding: 0.1rem 1rem;
    color: white;
}

img, svg {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}